/*#fca400* amarillo, #c7d0d3 gris, #c9d5ce gris over*/

body {
  background-color: black;
  font-family: sans-serif;
}

h1 {
  color: white;
}

ul {
  line-height: 3em;
  list-style: none;
  margin: 0;
  outline: 1px solid black;
  padding: 0;
  width: 150px;
}

li {
  background-color: #f0f0fd;
  color: black;
  display: block;
  text-decoration: none;
}

a {
  color: black;
  display: block;
  padding-left: 3em;
  text-decoration: none;
}

a:hover {
  background: #c9d5ce;
}

ul li:first-child {
  background-color: #fca400;
}

ul li:first-child a {
  color: white;
}
